.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.foto {
  grid-column: span 2;
}

/*Estilos gerais*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
}
h1,
p {
  margin: 0px;
}

.descricao {
  grid-column: 1 / -1;
}
.comprar {
  grid-column: 1 / -1;
}
h1 {
  margin: 30px;
  font-size: 48px;
  line-height: 1;
}

p,
span {
  font-size: 20px;
}
.comprar {
  background: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  vertical-align: auto;
}
.preco {
  background: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}

img {
  max-width: 100%;
  border-radius: 4px;
}
